# Ignore TS files.
# We don't need to publish any typescript files.
core/**/*.ts

# Ignore .idea files.
.idea

# Ignore development files.
docker-compose.yml
tsconfig.json
tslint.json

# Ignore test files.
tests/**
