{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "Lavenza": true
  },
  "extends": "eslint:recommended",
  "rules": {

    // Disabled Rules
    "no-console": "off",
    "no-unused-vars": "off",

    // Enabled Rules
    "no-async-promise-executor": "error",
    "no-await-in-loop": "error",
    "no-extra-parens": "error",
    "no-misleading-character-class": "error"
  }
}